.container {
    display: flex;

}

.split {
    height: 100vh;
    
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    
  }
  
  .left {
    width: 20%;
    padding-top: 5px; 
  }

  .left h3 {
      text-align: center;
      
  }
  
  .right {
    
    width: 80%;
    right: 0;
  }

.leaflet-container {
  width: 100wh; 
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .right {
    width: 90%;
    margin-left: 5%
  }
  .left {
    width: 90%;
    margin-left: 5%
  }
  .container {
    display: block;
  }
  .split {
    position: inherit;
  }
}
 
